@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&display=swap');
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: montserrat;
}
.login-popup{
  display: flex;
  box-sizing: border-box;
  gap: 20px;
  justify-content: center;
  background-color: #282c34;
  color: white;
}
.btn{
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  background-color: orange !important;
  color: white !important;
  width: 100px;
  border-radius: 5%;
  box-shadow: none;
}
.error{
  color: red;
}
.login-toggle-btn{
  position: absolute;
  right: 10px;
  
}